{% if messages %}
    {% for message in messages %}
    <div id="message" class="container" style="position: absolute; top: 10px; left: 0; border-radius: 0px; right: 0;">
        <div class="alert alert-{{ message.tags }} alert-dismissible text-center" style="border-radius: 0px;" role="alert">
            <strong>
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                Error: 
                {% else %}
                {{ message.tags|title }}
                {% endif %}
            </strong>
            {{ message }}
        </div>
    </div>
    {% endfor %}
{% endif %}

